<!DOCTYPE html>
<html>
<head>
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
<script type="text/javascript">
var sample = new SockJS('http://' + window.location.hostname + ':8081/info');

sample.onclose = function() {
    console.log('disconnected');
};

sample.onopen = function () {
    console.log('connected');
    sample.send('Hello, SockJS!');
};

sample.onmessage = function(response) {
    console.log(response.data);
};

</script>
</head>
<body>tornado sockjs version</body>
</html>
