<!DOCTYPE html>
<html>
<head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.5/socket.io.min.js"></script>
<script type="text/javascript">
var sample = io.connect('http://localhost:8081');
sample.on('disconnect', function() {
    sample.socket.reconnect();
});

sample.on('connect', function () {
     console.log('connected');
     sample.emit('message_from_client', 'Hello, socket.io!', function(response) {
         console.log(response);
     });
});
</script>
</head>
<body>tornado version</body>
</html>
